<section class="section" id="catalog">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="./img/catalog-1.png 1x, ./img/catalog-1@2x.png 2x"
              media="(min-width: 1280px)"
            />

            <source
              srcset="./img/catalog-tab-1.png 1x, ./img/catalog-tab-1@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/catalog-mob-1.png 1x, ./img/catalog-mob-1@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog-1.png"
              alt="Garmin Fenix 7X"
              width="208"
              height="226"
              class="catalog-image"
            />
          </picture>
        </div>

        <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
        <p class="section-text">€500</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="./img/catalog-2.png 1x, ./img/catalog-2@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/catalog-tab-2.png 1x, ./img/catalog-tab-2@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/catalog-mob-2.png 1x, ./img/catalog-mob-2@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog-2.png"
              alt="Garmin Marq Athlete"
              width="208"
              height="226"
              class="catalog-image"
            />
          </picture>
        </div>
        <p class="catalog-text">Garmin Marq Athlete</p>
        <p class="section-text">€450</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="./img/catalog-3.png 1x, ./img/catalog-3@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/catalog-tab-3.png 1x, ./img/catalog-tab-3@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/catalog-mob-3.png 1x, ./img/catalog-mob-3@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog-3.png"
              alt="Garmin Descent MK1"
              width="208"
              height="226"
              class="catalog-image"
            />
          </picture>
        </div>

        <p class="catalog-text">Garmin Descent MK1</p>
        <p class="section-text">€680</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="./img/catalog-4.png 1x, ./img/catalog-4@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/catalog-tab-4.png 1x, ./img/catalog-tab-4@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/catalog-mob-4.png 1x, ./img/catalog-mob-4@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog-4.png"
              alt="Garmin D2 Delta PX"
              width="208"
              height="226"
              class="catalog-image"
            />
          </picture>
        </div>

        <p class="catalog-text">Garmin D2 Delta PX</p>
        <p class="section-text">€380</p>
      </li>
      <li class="catalog-item catalog-non-display">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="./img/catalog-5.png 1x, ./img/catalog-5@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/catalog-tab-5.png 1x, ./img/catalog-tab-5@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/catalog-mob-5.png 1x, ./img/catalog-mob-5@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog-5.png"
              alt="Garmin Fenix 6"
              width="208"
              height="226"
              class="catalog-image"
            />
          </picture>
        </div>
        <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
        <p class="section-text">€400</p>
      </li>
      <li class="catalog-item catalog-non-display">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="./img/catalog-6.png 1x, ./img/catalog-6@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/catalog-tab-6.png 1x, ./img/catalog-tab-6@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/catalog-mob-6.png 1x, ./img/catalog-mob-6@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog-6.png"
              alt="Tube Watch S42"
              width="208"
              height="226"
              class="catalog-image"
            />
          </picture>
        </div>

        <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
        <p class="section-text">€395</p>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
