<section class="section">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="../img/catalog-1.png 1x, ../img/catalog-1@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog-tab-1.png    1x,
                ../img/catalog-tab-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-tab-1.png    1x,
                ../img/catalog-tab-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-mob-1.png    1x,
                ../img/catalog-mob-1@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/catalog-mob-1.png"
              alt="Garmin Fenix 7X"
              width="279"
              height="262"
              class="catalog-image"
            />
          </picture>
        </div>
        <div class="description">
          <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="../img/catalog-2.png 1x, ../img/catalog-2@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog-tab-2.png    1x,
                ../img/catalog-tab-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-tab-2.png    1x,
                ../img/catalog-tab-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-mob-2.png    1x,
                ../img/catalog-mob-2@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/catalog-mob-2.png"
              alt="Garmin Marq Athlete"
              width="279"
              height="262"
              class="catalog-image"
            />
          </picture>
        </div>
        <div class="description">
          <p class="catalog-text">Garmin Marq Athlete</p>
          <p class="catalog-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="../img/catalog-3.png 1x, ../img/catalog-3@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog-tab-3.png    1x,
                ../img/catalog-tab-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-tab-3.png    1x,
                ../img/catalog-tab-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-mob-3.png    1x,
                ../img/catalog-mob-3@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/catalog-mob-3.png"
              alt="Garmin Descent MK1"
              width="279"
              height="262"
              class="catalog-image"
            />
          </picture>
        </div>
        <div class="description">
          <p class="catalog-text">Garmin Descent MK1</p>
          <p class="catalog-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="../img/catalog-4.png 1x, ../img/catalog-4@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog-tab-4.png    1x,
                ../img/catalog-tab-4@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-tab-4.png    1x,
                ../img/catalog-tab-4@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-mob-4.png    1x,
                ../img/catalog-mob-4@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/catalog-mob-4.png"
              alt="Garmin D2 Delta PX"
              width="279"
              height="262"
              class="catalog-image"
            />
          </picture>
        </div>
        <div class="description">
          <p class="catalog-text">Garmin D2 Delta PX</p>
          <p class="catalog-price">€380</p>
        </div>
      </li>
      <li class="catalog-non-displai">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="../img/catalog-5.png 1x, ../img/catalog-5@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog-tab-5.png    1x,
                ../img/catalog-tab-5@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-tab-5.png    1x,
                ../img/catalog-tab-5@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-mob-5.png    1x,
                ../img/catalog-mob-5@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/catalog-tab-5.png"
              alt="Garmin Fenix 6"
              width="279"
              height="262"
              class="catalog-image"
            />
          </picture>
        </div>
        <div class="description">
          <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-price">€400</p>
        </div>
      </li>
      <li class="catalog-non-displai">
        <div class="catalog-watch">
          <picture>
            <source
              srcset="../img/catalog-6.png 1x, ../img/catalog-6@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/catalog-tab-6.png    1x,
                ../img/catalog-tab-6@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-tab-6.png    1x,
                ../img/catalog-tab-6@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/catalog-mob-5.png    1x,
                ../img/catalog-mob-5@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="../img/catalog-tab-6.png"
              alt="Tube Watch S42"
              width="279"
              height="262"
              class="catalog-image"
            />
          </picture>
        </div>
        <div class="description">
          <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
          <p class="catalog-price">€395</p>
        </div>
      </li>
    </ul>
  </div>
</section>
