<section class="section" id="contact-us">
    <div class="container">
        <h2 class="section-title">Contact Us</h2>
        <div class="container-contact">
        <div class="contact-field">
            <p class="contact-text section-text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
        <form class="contact-form">
                <div class="contact-form-div">
                <label for="user-name" class="contact-label"></label>
                <input type="text" name="user-name" 
                class="contact-input" 
                id="user-name" 
                placeholder="Name" required/>
            </div>
            <div class="contact-form-div">
                <label for="user-email" class="contact-label"></label>
                <input type="email" name="user-email" 
                class="contact-input form-valid" 
                id="user-email" 
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required/>
            </div>
            <div class="contact-form-div">
                <label for="user-tel" class="contact-label"></label>
                <input type="tel" name="user-tel" 
                class="contact-input form-valid" id="user-tel" 
                placeholder="+380" 
                pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" title="(+380-XX-XXX-XX-XX)" required/>
            </div>
            <div class="contact-form-div">
                <label for="user-coments" class="contact-label"></label>
                <textarea name="user-coments" 
                id="user-coments" 
                class="coments-text" 
                placeholder="Comments" required></textarea>
            </div>
                <button class="contact-btn" type="submit">Send</button>
            </form>
        </div>
        <div class="contact-wrap">
            <picture>
                <source srcset="./img/contact.jpg 1x, ./img/contact@2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./img/contact-tab.jpg 1x, ./img/contact-tab@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="./img/contact-mob.jpg 1x, ./img/contact-mob@2x.jpg 2x" media="(max-width: 767px)">
                <img src="./img/contact.jpg" alt="contact-us" width="704" height="556" class="img-con">
            </picture>
        </div>
    </div>
    </div>
    </section>