<header class="header" id="home">
    <div class="container header-container">
        <a href="./index.html" class="logo">watchcharm</a>
        <button type="button" class="menu-button">
            <svg class="icon-menu">
                <use href="./img/icons.svg#icon-menu"></use>
            </svg>
        </button>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="head-desktop"><a href="#home" class="header-item current">Home</a></li>
                <li class="head-desktop"><a href="#about-us" class="header-item">About Us</a></li>
                <li class="head-desktop"><a href="#catalog" class="header-item">Catalog</a></li>
                <li class="head-desktop"><a href="#sale" class="header-item">Sale</a></li>
                <li class="head-desktop"><a href="#reviews" class="header-item">Reviews</a></li>
                <li class="head-desktop"><a href="#contact-us" class="header-item">Contact Us</a></li>
            </ul>
        </nav>
        <ul class="header-contact">
            <li class="head-contact">
                <a href=" https://www.facebook.com/goITclub/ " target="_blank" rel="nofollow" rel="noopener"
                    rel="noreferrer" class="head-contact-list">
                    <svg class="head-cont-icon">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="head-contact">
                <a href="https://www.instagram.com/goitclub/" target="_blank" rel="nofollow" rel="noopener"
                    rel="noreferrer" class="head-contact-list">
                    <svg class="head-cont-icon">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="head-contact">
                <a href="https://www.youtube.com/c/GoIT " target="_blank" rel="nofollow" rel="noopener" rel="noreferrer"
                    class="head-contact-list">
                    <svg class="head-cont-icon">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <div class="mob-menu">
        <button type="button" class="menu-close">
            <svg class="icon-menu-close">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="header-nav-menu">
            <ul class="header-list">
                <li><a href="#home" class="header-item current">Home</a></li>
                <li><a href="#about-us" class="header-item">About Us</a></li>
                <li><a href="#catalog" class="header-item">Catalog</a></li>
                <li><a href="#sale" class="header-item">Sale</a></li>
                <li><a href="#reviews" class="header-item">Reviews</a></li>
                <li><a href="#contact-us" class="header-item">Contact Us</a></li>
            </ul>
        </nav>
        <ul class="header-contact-menu">
            <li class="head-contact">
                <a href=" https://www.facebook.com/goITclub/ " target="_blank" rel="nofollow" rel="noopener"
                    rel="noreferrer" class="head-contact-list">
                    <svg class="head-cont-icon">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="head-contact">
                <a href="https://www.instagram.com/goitclub/" target="_blank" rel="nofollow" rel="noopener"
                    rel="noreferrer" class="head-contact-list">
                    <svg class="head-cont-icon">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="head-contact">
                <a href="https://www.youtube.com/c/GoIT " target="_blank" rel="nofollow" rel="noopener" rel="noreferrer"
                    class="head-contact-list">
                    <svg class="head-cont-icon">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>