<section class="section sale">
  <div class="container">
    <h2 class="section-title sale-title">Sale</h2>
    <div class="sale-inner">
      <ul class="sale-list">
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale-min1.png 1x, ./img/sale-min1@2x.png 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/sale-mob-min1.png 1x, ./img/sale-mob-min1@2x.png 2x"
              media="(min-width: 375px)" />
            <img
              src="./img/sale-min1.png"
              alt="Watch Garmin menu"
              width="96"
              height="100"
          /></picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale-min2.png 1x, ./img/sale-min2@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-mob-min2.png 1x, ./img/sale-mob-min2@2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-min2.png"
              alt="Watch Garmin front view"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale-min3.png 1x, ./img/sale-min3@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-mob-min3.png 1x, ./img/sale-mob-min3@2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-min3.png"
              alt="Watch Garmin rear view"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale-min4.png 1x, ./img/sale-min4@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-mob-min4.png 1x, ./img/sale-mob-min4@2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-min4.png"
              alt="Watch Garmin side view"
              width="96"
              height="100"
            />
          </picture>
        </li>
      </ul>

      <div class="sale-thumb-img">
        <picture>
          <source
            srcset="./img/sale-big.png 1x, ./img/sale-big@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/sale-mob-big.png 1x, .//img/sale-mob-big@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/sale-big.png"
            alt="Garmin Commander (Gen 2) - Carbon Edition"
            width="328"
            height="398"
          />
        </picture>
      </div>
      <!-- /.sale-thumb-img -->
    </div>
    <!-- /.sale-inner -->

    <div class="sale-wrapper">
      <h3 class="sale-wrapper-title">
        MARQ&reg; Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-product-tag">Product tag: 706587</p>
      <div class="sale-wrapper-inner">
        <p class="sale-price">€1500</p>
        <p class="sale-price-through">€3000</p>
      </div>
      <p class="sale-text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-tags-list">
        <li class="sale-tags-item">
          <a href="" class="sale-tags-link">Fused carbon fiber</a>
        </li>
        <li class="sale-tags-item">
          <a href="" class="sale-tags-link">Grade-5 Titanuim</a>
        </li>
        <li class="sale-tags-item">
          <a href="" class="sale-tags-link">Athlete</a>
        </li>
        <li class="sale-tags-item">
          <a href="" class="sale-tags-link">Golfer</a>
        </li>
        <li class="sale-tags-item">
          <a href="" class="sale-tags-link">Commander</a>
        </li>
        <li class="sale-tags-item">
          <a href="" class="sale-tags-link">Adventurer</a>
        </li>
      </ul>
    </div>
    <!-- /.sale-wrapper -->
  </div>
  <!-- /.container -->
</section>
