.advertisement-wrap {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 60px 28px;
  background-image: url(../img/advertisement-mob.png);

  max-width: 335px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .advertisement-wrap {
    background-image: url(../img/advertisement-mob@2x.png);
  }
}

.advertisement-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.advertisement-span {
  color: rgba(251, 251, 251, 0.5);
}

.button {
  width: 160px;
  height: 48px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  margin-top: 28px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
@media screen and (min-width: 768px) {
  .advertisement-wrap {
    padding: 80px 64px;
    max-width: 704px;
    background-image: url(../img/advertisement-tab.png);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .advertisement-wrap {
      background-image: url(../img/advertisement-tab@2x.png);
    }
  }
  .advertisement-text {
    font-size: 48px;
    line-height: 0.9;
    max-width: 576px;
  }
  .button {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .advertisement-wrap {
    display: flex;
    gap: 140px;
    padding: 83px 80px;
    max-width: 1150px;
    background-image: url(../img/advertisement.png);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .advertisement-wrap {
      background-image: url(../img/advertisement@2x.png);
    }
  }
  .advertisement-text {
    max-width: 690px;
  }

  .button {
    margin-top: 0;
  }
}
