.catalog-non-display{
display: none;
}
    
.section-title {
    margin-bottom: 24px;
}

.catalog-text{
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 8px;
margin-top: 10px;
}
.catalog-list .section-text{
font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.5);
}

.catalog-list {
    display: flex;
  gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 30px;
        width: 100%;
        background: #f3f3f3;
        justify-content: center;
        padding: 24px 28px;
}

.catalog-image {
    margin: 0 auto;
}

.catalog-btn{
    border-radius: 16px;
        width: 160px;
        height: 48px;
        background: #3350e9;
        display: block;
        border: none;
        margin: 40px auto 0;
}
.catalog-btn-title{
font-size: 14px;
text-align: center;
color: #fbfbfb;
}

@media screen and (min-width: 768px) {


.catalog-non-display {
display: block;
        
}

.catalog-btn {
display: none;
}
.section-title {
    margin-bottom: 40px;
}

.catalog-image {
width: 280px;
height: 312px;
}

.catalog-list {
flex-direction: row;
flex-wrap: wrap;
row-gap: 32px;
column-gap: 16px;
justify-content: space-between;
}

.catalog-item {
width: calc((100% - 16px) / 2);
}

.catalog-text {
width: 280px;
font-size: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

}


@media screen and (min-width: 1280px) {
.catalog-image {
width: 304px;
height: 312px;
        }


.catalog-item {
width: calc((100% - 46px) / 3);
}

}