@media screen and (min-width: 0px) {
     
    .contact-field{
        background-color: #f3f3f3;
        border-radius: 30px;
        padding: 48px 28px;
        width: 335px;
        height: 512px;
        margin-bottom: 20px;
    }
    
    
    .contact-text{
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: rgba(12, 12, 12, 0.7);
        margin-bottom: 28px;
        }

        .contact-form{
        display: block;
        }
    
    input::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        color: #0c0c0c;
    }
    
    textarea::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        color: #0c0c0c;
    }

    .contact-input{
border: 1px solid rgba(12, 12, 12, 0.15);
border-radius: 12px;
padding: 12px 14px;
width: 279px;
height: 42px;
outline: transparent;
margin-bottom: 18px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-input:focus{
        border-color: #3350e9;
    }
    .coments-text:focus{
        border-color: #3350e9;
    }

    .coments-text{
border: 1px solid rgba(12, 12, 12, 0.15);
border-radius: 12px;
padding: 12px 14px;
width: 279px;
height: 84px;
resize: none;
margin-bottom: 28px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact-btn{
border-radius: 16px;
width: 134px;
height: 42px;
border: none;
background-color: #3350e9;
color: #fbfbfb;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-btn:focus{
        background-color: #1f3cd4;
    }
    
     .contact-btn:hover{
        background-color: #1f3cd4;
     }
    }

@media  screen and (min-width: 768px) {
     .contact-field{
    padding: 50px 122px;
    width: 704px;
    height: 556px;
    margin-bottom: 40px;
     }
    
     .contact-input{
     width: 460px;
     height: 52px;
     }

     .coments-text{
        width: 460px;
        height: 90px;
     }

     .contact-text{
        font-size: 16px;
        line-height: 1.25;
        }

}

@media screen and (min-width: 1280px) {

    .container-contact{
        display: flex;
        gap: 40px;
    }
    
    .contact-field{
    width: 580px;
    height: 556px;
    padding: 50px 60px;
    }

}