@media screen and (min-width: 375px) {
     
    .section-contact{
        padding: 0px 20px;
width: 375px;
height: 1100px;
    }

    .section-div-title{
    padding-bottom: 24px;
    }

    .sectione-title{
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
    }

        .contact-text{
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: rgba(12, 12, 12, 0.7);
        }

        .contact-form{
            display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    gap: 18px;
    background-color: #f3f3f3;
    border-radius: 30px;
    width: 335px;
    height: 512px;
    border-radius: 30px;
    padding: 48px 28px;
    margin-bottom: 20px;
        }
    
    .contact-input{
        border: 1px solid rgba(12, 12, 12, 0.15);
border-radius: 12px;
padding: 12px 226px 12px 14px;
width: 279px;
height: 42px;
outline: transparent;
    }

    .coments-text{
        border: 1px solid rgba(12, 12, 12, 0.15);
border-radius: 12px;
padding: 12px 136px 54px 14px;
width: 279px;
height: 84px;
    }
    
    .div-btn{
    }
    

    .contact-btn{
        border-radius: 16px;
width: 134px;
height: 42px;
border: none;
background: #3350e9;
color: #fbfbfb;
cursor: pointer;
    }
    
    picture{
        width: 100%;
        height: 100%;
    }

}