.footer {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* MOBILE */
.footer-container-wrap {
    width: 100%;
    padding: 40px 28px 28px;
    background-color: #0C0C0C;
    color: #FBFBFB;
    border-radius: 30px;
    margin: 0 auto;
}

.footer-wrap {
    margin-bottom: 34px;
}

.footer-logo {
    font-size: 16px;
}

.social-list {
    display: flex;
    gap: 10px;
    margin-top: 28px;
}

.social-list-a {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    opacity: 1;
}

.social-list-icon {
    fill: #FBFBFB;
    width: 18px;
    height: 18px;
}

.contact {
    display: inline-block;
    border: 1px solid #FBFBFB;
    border-radius: 16px;
    padding: 14px 20px 14px 20px;
    margin-bottom: 40px;
}

.footer-address-link {
    font-size: 12px;
    line-height: 1.5;
}

.text {
    max-width: 279px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 92px;
}

.footer-second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-nav-list {
    max-width: 147px;
    display: flex;
    row-gap: 13px;
    column-gap: 16px;
    flex-wrap: wrap;
}

.addrs {
    max-width: 83px;
    font-size: 12px;
    line-height: 1.3;
    font-style: normal;
}

.nav-link {
    font-size: 12px;
    line-height: 1.3;
}

.footer-line {
    border: 1px solid rgba(251, 251, 251, 0.1);
    margin-bottom: 24px;
}

.footer-third {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 10px;
    line-height: 1.4;
    color: rgba(251, 251, 251, 0.5);
}

.footer-a {
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 375px) {
    .footer-container-wrap {
        width: 335px;
    }
}

/* TAB */
@media screen and (min-width: 768px) {
    .footer-container-wrap {
        width: 704px;
        padding: 40px 40px 28px;
    }

    .footer-first {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-wrap {
        margin-bottom: 86px;
    }

    .footer-logo {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .social-list-icon {
        width: 20px;
        height: 20px;
    }

    .contact {
        display: inline-block;
        border: 1px solid #FBFBFB;
        border-radius: 16px;
        padding: 15px;
        margin-bottom: none;
    }

    .footer-address-link {
        font-size: 14px;
        line-height: 1.2;
    }

    .text {
        max-width: 524px;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.14;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .footer-second {
        margin-bottom: 28px;
    }

    .footer-nav-list {
        max-width: 400px;
        gap: 19px;
        flex-wrap: nowrap;
    }

    .addrs {
        min-width: 162px;
        font-size: 14px;
        line-height: 1.2;
    }

    .nav-link {
        font-size: 12px;
        line-height: 1.3;
    }

    .footer-line {
        margin-bottom: 28px;
    }

    .footer-third {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1.2;
    }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
    .footer-container-wrap {
        width: 1216px;
    }

    .footer .container {
        width: 1216px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-first {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .footer-logo {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .contact {
        order: 3;
    }

    .text {
        margin-top: auto;
        margin-bottom: 126px;
    }

    .footer-nav-list {
        max-width: 505px;
        gap: 40px;
        flex-wrap: nowrap;
    }

    .nav-link {
        font-size: 14px;
        line-height: 1.2;
    }
}