@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../fonts/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/Gilroy-Medium.woff') format('woff'),
      url('../fonts/Gilroy-Medium.woff2') format('woff2'),
      url('../fonts/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy-Semibold.woff') format('woff'),
      url('../fonts/Gilroy-Semibold.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
  }
  
  body {
    font-family: 'Gilroy', sans-serif;
  }
  
  .container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
    }
  
    .section-title {
      color: #0C0C0C;
      font-size: 32px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -0.02em;
        }
  
   .section-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
   }
        
    
    @media screen and (min-width: 375px) {
      .container {
        width: 375px;
      }
  }
  
    @media screen and (min-width: 768px) {
      .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
      }
  
   .section-title {    
  font-size: 48px;
  line-height: 0.92;
  }
  
  .section-text {
      font-size: 16px;
      line-height: 1.25;
       }        
    }
  
  @media screen and (min-width: 1280px) {
      .container {
        width: 1280px;
        padding-left: 65px;
        padding-right: 65px;
      }
  }
  
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  
  