.header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.10);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #0C0C0C;
    font-size: 16px;
    letter-spacing: -0.32px;
}

.menu-button {
    border: none;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 0;
    display: flex;
}

.icon-menu {
    fill: transparent;
    stroke: #0C0C0C;
    width: 34px;
    height: 34px;
}

.header-nav {
    display: none;
}

.header-contact {
    display: none;
}

@media screen and (min-width: 768px) {
    .logo {
        font-size: 20px;
        letter-spacing: -0.4px;
    }

    .menu-button {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .icon-menu {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .menu-button {
        display: none;
    }

    .header-nav {
        display: flex;
    }

    .header-contact {
        display: flex;
        gap: 10px;
        padding-top: 26px;
        padding-bottom: 26px;
        align-items: center;
        justify-content: center;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-item {
        color: #0C0C0C;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }

    .head-contact-list {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid rgba(12, 12, 12, 0.10);
        padding: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .head-cont-icon {
        width: 20px;
        height: 20px;
        fill: #0C0C0C;
    }

    .head-contact-list:hover>.head-cont-icon,
    .head-contact-list:focus>.head-cont-icon {
        fill: #3350E9;
    }

    .current {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-item.current::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #3350E9;
        position: absolute;
        top: 20px;
        display: block;
        left: 50%;
        transform: translate(-50%);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}