.hero {
  padding-top: 60px;
  padding-bottom: 30px;
}
.hero-container {
  background-color: #fbfbfb;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}
.hero-title {
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 0.95;
  font-size: 40px;
  margin-bottom: 20px;
  color: #0c0c0c;
  letter-spacing: -0.02em;
}
.hero-span {
  color: #3350e9;
}
.hero-scroll {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-team-img {
  width: 108px;
  height: 44px;
}
.scroll-link {
  color: #0c0c0c;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: -0.02em;
}
.scroll-link:hover,
.scroll-link:focus {
  color: #3350e9;
}

/*-------------------Tablet-------------------*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero-container {
    gap: 11px;
    flex-direction: row;
  }
  .hero-title-container {
    width: 557px;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }
  .hero-p {
    width: 480px;
  }
  .hero-scroll {
    flex-direction: column;
  }
  .hero-team-img {
    width: 136px;
    height: 60px;
  }
  .scroll-link {
    font-size: 20px;
    line-height: 1;
  }
}

/*-------------------Desktop-------------------*/

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .hero {
    padding-bottom: 50px;
  }
  .hero-container {
    gap: 0;
    justify-content: space-between;
  }
  .hero-title-container {
    width: 597px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 0.87;
  }
  .hero-team-img {
    width: 146px;
  }
}
