.sale-inner {
  margin-bottom: 20px;
}

.sale-list {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}

.sale-item {
  flex-basis: calc((100% - 15px) / 4);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
}

.sale-item-img {
  width: 52px;
  height: 54px;
}

.sale-thumb-img {
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
}

.sale-img {
  width: 235px;
  height: 285px;
}

.sale-wrapper {
  padding: 48px 28px;
  border-radius: 30px;
  background-color: #3350e9;
}

.sale-wrapper-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-product-tag {
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.sale-wrapper-inner {
  margin-bottom: 28px;
  display: flex;
  gap: 9px;
}

.sale-price {
  width: 68px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
}

.sale-price-through {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-text {
  margin-bottom: 28px;
  color: rgba(251, 251, 251, 0.7);
}

.sale-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sale-tags-item {
  height: 32px;
}

.sale-tags-link {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  height: 100%;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sale-tags-link:focus {
  opacity: 0.7;
}

/* ADAPTIVE/TABLET */
@media screen and (min-width: 768px) {
  .sale-inner {
    margin-bottom: 40px;
    display: flex;
  }

  .sale-list {
    margin-bottom: 0;
    margin-right: 20px;
    display: block;
  }

  .sale-item {
    width: 132px;
    height: 132px;
    border-radius: 20px;
  }

  .sale-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .sale-item-img {
    width: 96px;
    height: 100px;
  }

  .sale-thumb-img {
    width: 552px;
    height: 558px;
    border-radius: 50px;
  }

  .sale-img {
    width: 328px;
    height: 398px;
  }

  .sale-wrapper {
    padding: 60px;
    border-radius: 50px;
  }

  .sale-wrapper-title {
    max-width: 436px;
    font-size: 32px;
    line-height: 1.13;
  }

  .sale-wrapper-inner {
    margin-bottom: 30px;
  }

  .sale-price {
    font-size: 20px;
    line-height: 1;
    width: 78px;
  }

  .sale-text {
    margin-bottom: 40px;
  }

  .sale-tags-list {
    max-width: 398px;
  }

  .sale-tags-item {
    height: 34px;
  }

  .sale-tags-link {
    font-size: 14px;
    line-height: 1.29;
  }
}

/* ADAPTIVE/DESKTOP */
@media screen and (min-width: 1280px) {
  .sale-wrapper-basic {
    display: flex;
    gap: 40px;
  }

  .sale-inner {
    margin-bottom: 0;
  }

  .sale-wrapper-title {
    max-width: 389px;
  }

  .sale-item {
    height: calc((100% - 30px) / 4);
  }

  .sale-thumb-img {
    width: 428px;
    height: auto;
  }

  .sale-tags-link:hover {
    opacity: 0.7;
  }
}
